In [28]:
import os
data_dir = '/home/user/ALBINA/DASHA/DATA1202'

import pandas as pd
df = pd.read_csv(os.path.join(data_dir, 'mart17000.csv'), sep=',', header=None, encoding='utf-8')
df['TEL'] = df[0]
print (df.head(3))

             0          TEL
0  79031025366  79031025366
1  79031089878  79031089878
2  79031219040  79031219040

In [29]:
import pandas as pd
df1 = pd.read_csv(os.path.join(data_dir, 'dat1.csv'), sep=',', header=None, encoding='utf-8')
df1['K1'] = df1[0]
df1['V1_USE_OT'] = df1.apply(lambda row: str(row[1]).replace(".0", "") + " раз в неделю" if pd.notnull(row[1]) else "-", axis = 1)
print (df1.head(3))

                   0                   1                 K1  \
0  yurbasov_feb_v1.k  yurbasov_feb_v1.v1  yurbasov_feb_v1.k
1                NaN                 NaN                NaN
2        70661402186                 NaN        70661402186

                         V1_USE_OT
0  yurbasov_feb_v1.v1 раз в неделю
1                                -
2                                -

In [30]:
import pandas as pd
df3 = pd.read_csv(os.path.join(data_dir, 'dat3_2.csv'), sep=',', header=None, encoding='utf-8')
df3['K3'] = df3[0]
df3['V2_WORK_ST'] = df3.apply(lambda row: str(row[1]) if pd.notnull(row[1]) else "-", axis = 1)
df3['V3_WORK_REG'] = df3.apply(lambda row: str(row[2]) if pd.notnull(row[2]) else "-", axis = 1)
print (df3.head(3))

                     0                     1                     2  \
0  yurbasov_feb_v3_2.k  yurbasov_feb_v3_2.v2  yurbasov_feb_v3_2.v3
1                  NaN                   NaN                   NaN
2          70661402186                   NaN                   NaN

                    K3            V2_WORK_ST           V3_WORK_REG
0  yurbasov_feb_v3_2.k  yurbasov_feb_v3_2.v2  yurbasov_feb_v3_2.v3
1                  NaN                     -                     -
2          70661402186                     -                     -

In [31]:
import pandas as pd
df5 = pd.read_csv(os.path.join(data_dir, 'dat4_5.csv'), sep=',', header=None, encoding='utf-8')
df5['K5'] = df5[0]
df5['V4_HOME_ST'] = df5.apply(lambda row: str(row[1]) if pd.notnull(row[1]) else "-", axis = 1)
df5['V5_HOME_REG'] = df5.apply(lambda row: str(row[2]) if pd.notnull(row[2]) else "-", axis = 1)
print (df5.head(3))

                     0                     1                     2  \
0  yurbasov_feb_v4_5.k  yurbasov_feb_v4_5.v4  yurbasov_feb_v4_5.v5
1                  NaN                   NaN                   NaN
2          70661402186                   NaN                   NaN

                    K5            V4_HOME_ST           V5_HOME_REG
0  yurbasov_feb_v4_5.k  yurbasov_feb_v4_5.v4  yurbasov_feb_v4_5.v5
1                  NaN                     -                     -
2          70661402186                     -                     -

In [32]:
import pandas as pd
df6 = pd.read_csv(os.path.join(data_dir, 'dat6.csv'), sep=',', header=None, encoding='utf-8')
df6['K6'] = df6[0]
df6['V6_HAS_AUTO'] = df6.apply(lambda row: "да" if pd.notnull(row[1]) and str(row[1]) == "1" else "нет" if pd.notnull(row[1]) and str(row[1]) == "0" else "-", axis = 1)
print (df6.head(3))

                   0                   1                 K6 V6_HAS_AUTO
0  yurbasov_feb_v6.k  yurbasov_feb_v6.v6  yurbasov_feb_v6.k           -
1                NaN                 NaN                NaN           -
2        70661402186                 NaN        70661402186           -

In [33]:
import pandas as pd
df7 = pd.read_csv(os.path.join(data_dir, 'dat7.csv'), sep=',', header=None, encoding='utf-8')
df7['K7'] = df7[0]
df7['V7_AVGTIME_METRO'] = df7.apply(lambda row: str(row[1]).replace(".0", "") + " минут" if pd.notnull(row[1]) else "-", axis = 1)
print (df7.head(3))

                         0                         1                       K7  \
0  yurbasov_feb_v7_extra.k  yurbasov_feb_v7_extra.v7  yurbasov_feb_v7_extra.k
1                      NaN                       NaN                      NaN
2              70661402186                       NaN              70661402186

                 V7_AVGTIME_METRO
0  yurbasov_feb_v7_extra.v7 минут
1                               -
2                               -

In [34]:
import pandas as pd
df_a = pd.merge(df, df1, how='left', left_on='TEL', right_on='K1')
print (df_a.head(3))

           0_x          TEL          0_y    1           K1       V1_USE_OT
0  79031025366  79031025366  79031025366  7.0  79031025366  7 раз в неделю
1  79031089878  79031089878  79031089878  7.0  79031089878  7 раз в неделю
2  79031219040  79031219040  79031219040  7.0  79031219040  7 раз в неделю

In [35]:
import pandas as pd
df_b = pd.merge(df_a, df3, how='left', left_on='TEL', right_on='K3')
print (df_b.head(3))

           0_x          TEL          0_y  1_x           K1       V1_USE_OT  \
0  79031025366  79031025366  79031025366  7.0  79031025366  7 раз в неделю
1  79031089878  79031089878  79031089878  7.0  79031089878  7 раз в неделю
2  79031219040  79031219040  79031219040  7.0  79031219040  7 раз в неделю

             0            1_y                            2           K3  \
0  79031025366       Пражская  район Чертаново Центральное  79031025366
1  79031089878          Южная  район Чертаново Центральное  79031089878
2  79031219040  Братиславская                район Марьино  79031219040

      V2_WORK_ST                  V3_WORK_REG
0       Пражская  район Чертаново Центральное
1          Южная  район Чертаново Центральное
2  Братиславская                район Марьино

In [36]:
import pandas as pd
df_c = pd.merge(df_b, df5, how='left', left_on='TEL', right_on='K5')
print (df_c.head(3))

           0_x          TEL          0_y  1_x           K1       V1_USE_OT  \
0  79031025366  79031025366  79031025366  7.0  79031025366  7 раз в неделю
1  79031089878  79031089878  79031089878  7.0  79031089878  7 раз в неделю
2  79031219040  79031219040  79031219040  7.0  79031219040  7 раз в неделю

           0_x            1_y                          2_x           K3  \
0  79031025366       Пражская  район Чертаново Центральное  79031025366
1  79031089878          Южная  район Чертаново Центральное  79031089878
2  79031219040  Братиславская                район Марьино  79031219040

      V2_WORK_ST                  V3_WORK_REG          0_y              1  \
0       Пражская  район Чертаново Центральное  79031025366        Марьино
1          Южная  район Чертаново Центральное  79031089878  Проспект Мира
2  Братиславская                район Марьино  79031219040  Братиславская

               2_y           K5     V4_HOME_ST      V5_HOME_REG
0    район Марьино  79031025366        Марьино    район Марьино
1  Мещанский район  79031089878  Проспект Мира  Мещанский район
2    район Марьино  79031219040  Братиславская    район Марьино

In [37]:
import pandas as pd
df_d = pd.merge(df_c, df6, how='left', left_on='TEL', right_on='K6')
print (df_d.head(3))

           0_x          TEL          0_y  1_x           K1       V1_USE_OT  \
0  79031025366  79031025366  79031025366  7.0  79031025366  7 раз в неделю
1  79031089878  79031089878  79031089878  7.0  79031089878  7 раз в неделю
2  79031219040  79031219040  79031219040  7.0  79031219040  7 раз в неделю

           0_x            1_y                          2_x           K3  \
0  79031025366       Пражская  район Чертаново Центральное  79031025366
1  79031089878          Южная  район Чертаново Центральное  79031089878
2  79031219040  Братиславская                район Марьино  79031219040

      ...              0_y            1_x              2_y           K5  \
0     ...      79031025366        Марьино    район Марьино  79031025366
1     ...      79031089878  Проспект Мира  Мещанский район  79031089878
2     ...      79031219040  Братиславская    район Марьино  79031219040

      V4_HOME_ST      V5_HOME_REG            0  1_y           K6 V6_HAS_AUTO
0        Марьино    район Марьино  79031025366    1  79031025366          да
1  Проспект Мира  Мещанский район  79031089878    1  79031089878          да
2  Братиславская    район Марьино  79031219040  NaN  79031219040           -

[3 rows x 22 columns]

In [38]:
import pandas as pd
df_e = pd.merge(df_d, df7, how='left', left_on='TEL', right_on='K7')
print (df_e.head(3))

           0_x          TEL          0_y  1_x           K1       V1_USE_OT  \
0  79031025366  79031025366  79031025366  7.0  79031025366  7 раз в неделю
1  79031089878  79031089878  79031089878  7.0  79031089878  7 раз в неделю
2  79031219040  79031219040  79031219040  7.0  79031219040  7 раз в неделю

           0_x            1_y                          2_x           K3  \
0  79031025366       Пражская  район Чертаново Центральное  79031025366
1  79031089878          Южная  район Чертаново Центральное  79031089878
2  79031219040  Братиславская                район Марьино  79031219040

        ...            V4_HOME_ST      V5_HOME_REG          0_x  1_y  \
0       ...               Марьино    район Марьино  79031025366    1
1       ...         Проспект Мира  Мещанский район  79031089878    1
2       ...         Братиславская    район Марьино  79031219040  NaN

            K6 V6_HAS_AUTO          0_y     1           K7 V7_AVGTIME_METRO
0  79031025366          да  79031025366  32.0  79031025366         32 минут
1  79031089878          да  79031089878  13.0  79031089878         13 минут
2  79031219040           -  79031219040  20.0  79031219040         20 минут

[3 rows x 26 columns]

In [39]:
import pandas as pd
res = df_e[['TEL', 'V1_USE_OT', 'V2_WORK_ST', 'V3_WORK_REG', 'V4_HOME_ST', 'V5_HOME_REG', 'V6_HAS_AUTO',
           'V7_AVGTIME_METRO']]
print (res.head(3))

           TEL       V1_USE_OT     V2_WORK_ST                  V3_WORK_REG  \
0  79031025366  7 раз в неделю       Пражская  район Чертаново Центральное
1  79031089878  7 раз в неделю          Южная  район Чертаново Центральное
2  79031219040  7 раз в неделю  Братиславская                район Марьино

      V4_HOME_ST      V5_HOME_REG V6_HAS_AUTO V7_AVGTIME_METRO
0        Марьино    район Марьино          да         32 минут
1  Проспект Мира  Мещанский район          да         13 минут
2  Братиславская    район Марьино           -         20 минут

In [40]:
res.to_csv(os.path.join(data_dir, 'result.csv'), index=False, sep=';', quoting=None, encoding='utf-8')