In [91]:
import os
data_dir = '/home/user/ALBINA/DENIS'

# 22834

In [92]:
import pandas as pd
df1 = pd.read_csv(os.path.join(data_dir, 'part1.csv.csv'), sep=',', header=None)
df1 = df1[df1.index>0]
print (df1.head(3))

  0      1                      2     3                      4   \
1  1   2566  2017-12-19 14:12:23.0  2163  2017-12-19 12:16:29.0
2  2   6867  2017-12-18 21:08:58.0    44  2017-12-18 18:29:46.0
3  3  16590  2017-12-20 20:43:41.0   378  2017-12-20 10:25:36.0

                      5                      6                      7   \
1  2017-12-19 11:19:52.0  2017-12-19 09:17:22.0  2017-12-18 11:27:45.0
2  2017-12-12 09:51:49.0  2017-12-12 08:36:10.0  2017-11-24 15:13:18.0
3  2017-12-19 20:42:22.0  2017-12-19 10:12:23.0  2017-12-18 20:36:49.0

                      8                      9  ...    13   14    15    16  \
1  2017-12-18 09:19:58.0  2017-12-15 10:32:43.0 ...   124  318  2185  2143
2  2017-11-24 13:45:34.0  2017-11-15 21:29:34.0 ...  2020   90  2020   366
3  2017-12-18 10:08:01.0  2017-12-15 20:28:49.0 ...   237  378   237   207

     17    18    19   20   21  22
1  2147  2147  2149   27   29  38
2   190   207   190  366  190  10
3   237   378   237  378  237  44

[3 rows x 23 columns]

In [93]:
import pandas as pd
df2 = pd.read_csv(os.path.join(data_dir, 'part2.csv.csv'), sep=',', header=None)
df2 = df2[df2.index>0]
print (df2.head(3))

     0         1                      2    3                      4   \
1  5001  12234159  2017-12-08 14:37:28.0  213  2017-12-08 14:37:25.0
2  5002  12235880  2017-12-20 17:51:18.0   64  2017-12-20 08:02:24.0
3  5003  12252824  2017-12-19 21:42:14.0  320  2017-12-19 08:14:55.0

                      5                      6                      7   \
1  2017-12-08 12:47:56.0  2017-11-04 11:36:13.0                    NaN
2  2017-12-19 19:17:41.0  2017-12-19 08:00:19.0  2017-12-18 17:27:12.0
3  2017-12-17 21:35:22.0  2017-12-17 08:07:33.0  2017-12-14 22:32:18.0

                      8                      9  ...   13  14   15   16   17  \
1                    NaN                    NaN ...  213  38   66  NaN  NaN
2  2017-12-18 07:47:02.0  2017-12-14 08:29:44.0 ...   24  66   24   64   24
3  2017-12-14 08:00:50.0  2017-12-12 08:10:16.0 ...  296  47  296   47  296

    18   19   20   21  22
1  NaN  NaN  NaN  NaN   4
2   24   64   24   64  57
3  296  320  296  320  61

[3 rows x 23 columns]

In [94]:
import pandas as pd
df3 = pd.read_csv(os.path.join(data_dir, 'part3.csv.csv'), sep=',', header=None)
df3 = df3[df3.index>0]
print (df3.head(3))

      0           1                      2   3                      4   \
1  10001  3951129083  2017-12-21 00:48:54.0  47  2017-12-20 19:58:07.0
2  10002  3951141552  2017-12-20 18:44:45.0  98  2017-12-19 18:47:05.0
3  10003  3951152990  2017-12-20 19:07:01.0  40  2017-12-20 08:40:04.0

                      5                      6                      7   \
1  2017-12-20 00:15:54.0  2017-12-19 19:12:00.0  2017-12-18 23:30:59.0
2  2017-12-19 08:05:18.0  2017-12-19 08:05:15.0  2017-12-18 18:41:38.0
3  2017-12-19 19:07:06.0  2017-12-19 08:38:27.0  2017-12-18 19:08:12.0

                      8                      9  ...    13    14    15   16  \
1  2017-12-18 20:16:25.0  2017-12-17 19:14:21.0 ...   336   209   336  327
2  2017-12-18 07:56:13.0  2017-12-14 18:45:30.0 ...    98  2092  2092  327
3  2017-12-18 08:34:22.0  2017-12-15 20:11:55.0 ...  1006    40  1006   40

     17   18    19    20    21  22
1   336  333  2149  2141   336  54
2   297   98   297    98  2093  75
3  1006  318  1006    40   386  70

[3 rows x 23 columns]

In [95]:
import pandas as pd
df4 = pd.read_csv(os.path.join(data_dir, 'part4.csv.csv'), sep=',', header=None)
df4 = df4[df4.index>0]
print (df4.head(3))

      0        1                      2    3                      4   \
1  15001  6171344  2017-12-20 20:40:43.0  107  2017-12-20 09:53:08.0
2  15002  6182522  2017-12-13 20:23:17.0   90  2017-12-06 12:48:31.0
3  15003  6209440  2017-12-20 20:13:44.0   38  2017-12-19 18:44:34.0

                      5                      6                      7   \
1  2017-12-19 19:46:20.0  2017-12-19 09:21:59.0  2017-12-18 18:40:49.0
2  2017-12-05 18:08:32.0  2017-11-18 10:15:42.0  2017-11-07 09:10:50.0
3  2017-12-18 19:51:04.0  2017-12-15 19:21:50.0  2017-12-14 19:35:23.0

                      8                      9  ...    13    14    15    16  \
1  2017-12-18 10:03:49.0  2017-12-13 17:14:35.0 ...   109   107   109   107
2                    NaN                    NaN ...  2141  2159  2141  2157
3  2017-12-13 19:14:23.0  2017-12-12 18:37:36.0 ...    38    38    40    40

    17   18   19   20   21  22
1  109  211  198  109  320  77
2  NaN  NaN  NaN  NaN  NaN   5
3   40   38   40   38   38  41

[3 rows x 23 columns]

In [96]:
import pandas as pd
df5 = pd.read_csv(os.path.join(data_dir, 'part5.csv.csv'), sep=',', header=None)
df5 = df5[df5.index>0]
print (df5.head(3))

      0         1                      2    3                      4   \
1  20001  13092257  2017-12-15 13:28:56.0   73  2017-12-15 12:40:33.0
2  20002  13101112  2017-12-16 20:55:05.0  132  2017-12-16 19:48:21.0
3  20003  13103263  2017-12-20 19:08:53.0  267  2017-12-20 08:59:49.0

                      5                      6                      7   \
1  2017-12-10 20:11:47.0  2017-12-09 07:03:45.0  2017-12-07 16:08:53.0
2  2017-12-16 17:41:15.0  2017-12-16 13:09:12.0  2017-12-14 16:53:58.0
3  2017-12-19 19:10:19.0  2017-12-19 09:06:01.0  2017-12-19 08:21:02.0

                      8                      9  ...  13   14    15    16  \
1  2017-12-07 15:09:24.0  2017-12-07 13:23:05.0 ...  81  245    82   205
2  2017-12-14 15:40:27.0  2017-12-13 16:58:18.0 ...  41  100  2181  1002
3  2017-12-18 19:08:51.0  2017-12-18 09:00:05.0 ...  79  262    79   830

     17   18    19    20   21  22
1    52   82   408    82   52  19
2  2181  333  2146  2181  218  21
3   267   79   267    79  267  74

[3 rows x 23 columns]

In [97]:
import pandas as pd
df_ok0 = pd.concat([df1[[1,2,3]], df2[[1,2,3]], df3[[1,2,3]], df4[[1,2,3]], df5[[1,2,3]]])
df_ok0 = df_ok0.rename(columns={1: 'crd_no', 2: 'psg_date', 3: 'pl_id'})
i=0
df_ok1 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok1 = df_ok1.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=1
df_ok2 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok2 = df_ok2.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=2
df_ok3 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok3 = df_ok3.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=3
df_ok4 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok4 = df_ok4.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=4
df_ok5 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok5 = df_ok5.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=5
df_ok6 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok6 = df_ok6.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=6
df_ok7 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok7 = df_ok7.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=7
df_ok8 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok8 = df_ok8.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
i=8
df_ok9 = pd.concat([df1[[1,4+i,13+i]], df2[[1,4+i,13+i]], df3[[1,4+i,13+i]], df4[[1,4+i,13+i]], df5[[1,4+i,13+i]]])
df_ok9 = df_ok9.rename(columns={1: 'crd_no', 4+i: 'psg_date', 13+i: 'pl_id'})
df_ok = pd.concat([df_ok0, df_ok1, df_ok2, df_ok3, df_ok4, df_ok5, df_ok6, df_ok7, df_ok8, df_ok9])
df_ok = df_ok.dropna()
df_ok = df_ok.sort_values(by=['crd_no', 'psg_date'])
print (df_ok.head(3))

        crd_no               psg_date pl_id
1115  10000699  2017-12-13 22:38:56.0   368
1115  10000699  2017-12-14 09:32:41.0   242
1115  10000699  2017-12-14 22:51:02.0   368

In [98]:
df_ok.loc[df_ok['pl_id']=='']

Empty DataFrame
Columns: [crd_no, psg_date, pl_id]
Index: []

In [99]:
df_ok.to_csv(os.path.join(data_dir, 'ok.csv'), header=None, index=False)

In [100]:
import pandas as pd
df_todo = pd.read_csv(os.path.join(data_dir, 'TODO.csv'), sep=';', header=None)
print (df_todo.head(3))

                0                       1                  2  \
0  номер телефона  последний номер тройки  все номера тройки
1     79036178580              0005120018         0005120018
2     79263224617              0000260296         0000260296

                    3
0  Кол-во номер троек
1                   1
2                   1

In [101]:
df = df_todo[df_todo[3] == '1']
df['I'] = df.index
df['V'] = df[1]
df['G'] = df.apply(lambda row: int(row['I']) % 30, axis=1)
df[['V']].to_csv(os.path.join(data_dir, '0.csv'), header=None, index=False, quoting=None)
print (len(df))
gr = df.groupby(['G'])['V'].apply(lambda x: "(%s)" % ', '.join(x))
df_res = gr.to_frame()
print (df_res.head(3))

/home/user/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/user/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

29290
                                                   V
G
0  (0012229164, 3951164125, 0006245593, 001265924...
1  (0005120018, 0009940503, 0000513380, 001279984...
2  (0000260296, 0006120752, 3951293138, 001233124...

/home/user/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [102]:
df_query = df_res
df_query['I'] = df_query.index
df_query['R'] = df_query.apply(lambda row: "CREATE TABLE sandbox.yurbasov_count" + str(row['I']) + "_201801181430"
                               + " AS WITH c AS (select count(crd_no) as cnt, max(psg_date) as psg_date_,"
                               + " crd_no as crd_no_"
                               + " from metro_data.entries_db where crd_no in " + str(row['V'])
                               + " group by crd_no), g AS (select a.psg_date, a.crd_no, a.pl_id,"
                               + " lag(a.psg_date, 1) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_1,"
                               + " lag(a.psg_date, 2) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_2,"
                               + " lag(a.psg_date, 3) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_3,"
                               + " lag(a.psg_date, 4) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_4,"
                               + " lag(a.psg_date, 5) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_5,"
                               + " lag(a.psg_date, 6) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_6,"
                               + " lag(a.psg_date, 7) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_7,"
                               + " lag(a.psg_date, 8) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_8,"
                               + " lag(a.psg_date, 9) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS psg_date_9,"
                               + " lag(a.pl_id, 1) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_1,"
                               + " lag(a.pl_id, 2) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_2,"
                               + " lag(a.pl_id, 3) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_3,"
                               + " lag(a.pl_id, 4) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_4,"
                               + " lag(a.pl_id, 5) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_5,"
                               + " lag(a.pl_id, 6) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_6,"
                               + " lag(a.pl_id, 7) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_7,"
                               + " lag(a.pl_id, 8) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_8,"
                               + " lag(a.pl_id, 9) OVER (partition BY a.crd_no ORDER BY a.psg_date) AS pl_id_9"
                               + " from metro_data.entries_db a)"
                               + " select c.cnt as cnt, g.* from g" 
                               + " join c on c.crd_no_ = g.crd_no and c.psg_date_ = g.psg_date where cnt>2", axis=1)
df_query = df_query[['R']]
print (df_query.head(3))

                                                   R
G
0  CREATE TABLE sandbox.yurbasov_count0_201801181...
1  CREATE TABLE sandbox.yurbasov_count1_201801181...
2  CREATE TABLE sandbox.yurbasov_count2_201801181...

In [103]:
df_query.to_csv(os.path.join(data_dir, 'hive.csv'), header=None, index=False)